<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>GROUPIES LOGIN</title>

    <link rel="stylesheet" href="assets/css/Login.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <!--form area start-->
    <div class="form">
      <!--login form end-->
      <!--signup form start-->
      <form class="signup-form" action="/register" method="POST" >
        <i class="fas fa-user-plus"></i>
        <input
          class="user-input"
          type="text"
          name="username"
          placeholder="Username"
          required
        />
        <input
          class="user-input"
          type="email"
          name="email"
          placeholder="Email Address"
          required pattern="[^]+@[^]+[.][a-z]{2,63}$" 
        />
        <input
          class="user-input"
          type="password"
          name="password"
          placeholder="Password"
          required     
        />
        <input class="btn" type="submit" name="" value="SIGN UP" />
        <div class="options-02">
          <p>
            Already Registered? <a href="http://localhost:3000/">Sign In</a>
          </p>
        </div>
      </form>
      <!--login form start-->
      <form name="loginform" class="login-form" action="/Login" method="POST" onsubmit="return validateForm()">
        <i class="fas fa-user-circle"></i>
        <input
          class="user-input"
          type="email"
          name="username"
          placeholder="Email Address"
                  
        />
        <input
          class="user-input"
          type="password"
          name="password"
          placeholder="Password"
         
        />
        
        <div class="options-01">
          <label class="remember-me"><input type="checkbox" name="" />Remember me</label>
        <!----<a href="#">Forgot your password?</a> -->
        </div> 
       
        <input class="btn" type="submit" name="" value="LOGIN" />
        <div class="options-02">
          <p>Not Registered? <a href="#">Create an Account</a></p>
        </div>
      </form>
      <!--signup form end-->
    </div>
    <!--form area end-->
    
    <script>
      function validateForm() {
        var x = document.forms["loginform"]["username"].value;
        if (x == "" || x == null) {
          alert("email must be filled out");
          return false;
        }
        var y = document.forms["loginform"]["password"].value;
        if (y == "" || y == null) {
          alert("password must be filled out");
          return false;
        }     
        fetch('http://localhost:3000/', { 
          credentials: 'same-origin'
        })
      }
      </script>

    <script type="text/javascript">
      $(".options-02 a").click(function () {
        $("form").animate(
          {
            height: "toggle",
            opacity: "toggle",
          },
          "slow"
        );
      });
    </script>
  </body>
</html>